:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;

  --background: white;
  --font-family: system-ui, sans-serif;
}
* {
  box-sizing: border-box;
}
:root {
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  font-family: var(--font-family);
  color: var(--darkgray);
  background: var(--background); 
  position: relative;
  min-height: 100vh;
  z-index: -1; 
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img,
main.tmpl-post > *,
main.tmpl-post > pre {
  max-width: 45rem; /* 600px /16 */
}
.tmpl-post li,
img,
main.tmpl-post > *,
main.tmpl-post > pre {
  margin-left: auto;
  margin-right: auto;
}
p,
.tmpl-post li {
  line-height: 1.45;
}

a[href] {
  color: inherit;
}
/* a[href]:visited {
  color: var(--theme-color-1-dark);
} */

main {
  padding: 5vh 2vw;
  box-sizing: border-box;
  margin: 0 auto;
}
main :first-child {
  margin-top: 0;
}
header {
  box-sizing: border-box;
  padding: 2vh 2vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

main, header {
  max-width: 1366px;
}

.bg-wave {
  position: absolute;
  top: 15vh;
  left: 0;
  right: 0;
  z-index: -1;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  display: block;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1.4em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: block;
  width: max-content;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin: .6em 0;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.2em; /* 3px /12 */
  text-decoration: none;
}
.post-tag:first-child {
  margin-left: 0;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}


/* Work page */
.tmpl-work,
.tmpl-writing {
  margin-bottom: 45vh;
}


.big-statement {
  font-size: 1.4rem;
  line-height: 1.6;
}
.big-statement a {
  font-weight: bold;
  text-decoration: none;
}

.two-col {
  box-sizing: border-box;
  margin-block-start: 15vh;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5vw;
  width: 100%;
}
.two-col h2 {
  border-bottom: solid 1px;
}

.writing-col a {
  display: block;
}

.writing-col,
.work-col {
  position: relative;
  z-index: 0;
}

.tmpl-work .work-col::after {
  content: '';
  position: absolute;
  background: var(--theme-color-2);
  right: -50vw;
  top: -4vh;
  left: -4vw;
  bottom: -3vh;
  z-index: -4;
}

.tmpl-writing .writing-col::after {
  content: '';
  position: absolute;
  background: var(--theme-color-1);
  left: -50vw;
  top: -4vh;
  right: -4vw;
  bottom: -3vh;
  z-index: -4;
}

.work-col li,
.writing-col li {
  list-style: none;
  margin: 1em 0;
  position: relative;
  z-index: 0;
}
.work-col li::before,
.writing-col li::before {
  content: var(--year);
  top: 0;
  left: 0;
  height: 5em;
  transform-origin: top left;
  transform: translateY(50%) rotate(-90deg);
  position: absolute;
  border-inline-end: solid 1px var(--theme-color-2-dark);
  padding-inline-end: .5em;
  font-size: .8rem;
}

.work-col li::after,
.writing-col li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; 
  background: hsla(var(--theme-hue-2), 70%, 20%, 0.3);
  opacity: 0;
  width: 100%;
  z-index: -1;
  transform: translateY(8px);
  transition: opacity .18s ease-in-out, transform .15s ease-in-out;
}

.work-col li:hover::after,
.writing-col li:hover::after {
  opacity: .3;
  transform: translateY(0);
}

.work-col,
.work-col a,
.writing-col,
.writing-col a {
  color: var(--theme-color-2-dark);
  text-decoration: none;
}
.work-col .arrow-link path {
  stroke: var(--theme-color-2-dark);
}

.arrow-link svg {
  transition: transform .12s ease-in-out;
}

.arrow-link:hover svg {
  transform: translateX(.25rem);
}

.list-container {
  padding: 0;
  overflow-y: auto;
  scrollbar-color: var(--theme-color-1-dark) hsla(var(--theme-hue-1), 20%, 90%, .8);
}

.work-item,
.writing-item {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  position: relative;
}

.work-date,
.writing-date {
  font-weight: bold;
  display: block;
  margin-inline-start: 1.5em;
  margin-inline-end: 1em;
  letter-spacing: 1px;
}

.work-item > div,
.writing-item > div {
  font-size: 1.2rem;
}

.work-item p,
.writing-item p {
  margin: .3em;
}

.work-tools,
.writing-item > div .post-tag {
  font-size: .7em;
}


/* Writing Column Color Overrides */
.writing-col,
.writing-col a {
  color: var(--theme-color-1-dark);
}
.writing-col .arrow-link path {
  stroke: var(--theme-color-1-dark);
}
.writing-col li::before,
.writing-col .post-tag {
  background: var(--theme-color-1-dark);
}
.writing-col li::after {
  background: hsla(var(--theme-hue-1), 70%, 20%, 0.3);
  left: 0;
  right: unset;
}
.writing-col li div > div {
  margin-top: .3em;
}


.arrow-link {
  position: relative;
  display: flex;
  align-items: center;
  margin-block-start: 2em;
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: .9rem;
}
.arrow-link svg {
  display: inline-block;
  width: 2.2em;
  height: 1em;
  margin-inline-start: 1em;
  object-fit: contain;
}
.arrow-link path {
  stroke: black;
}

/* Work & Writing pages pointer */
.pointer {
  --rotation: 0deg;
  position: fixed;
  width: 5vw;
  height: 2px;
  background: var(--theme-color-2);
  top: calc(13rem + 15vh);
  right: 48vw;
  z-index: 1;
}

.tmpl-writing .pointer {
  right: unset;
  left: 53vw;
  background: var(--theme-color-1);
}

.pointer::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  transform-origin: left center;
  transform: translateY(-50%) rotate(var(--rotation));
  --size: 2vw;
  width: var(--size);
  height: 2px;
  background: var(--background);
  z-index: -1;
  transition: transform .03s ease-in-out;
}

.tmpl-writing .pointer::after {
  transform-origin: right center;
  left: unset;
  right: 100%;
}

.screenshot-container {
  width: 25vw;
  height: 45vh;
  border: solid 2px var(--theme-color-2);
  background: var(--background);
  position: fixed;
  right: 53vw;
  top: calc(10rem + 10vh);
  overflow: hidden;
}

.tmpl-writing .screenshot-container {
  right: unset;
  left: 58vw;
  border-color: var(--theme-color-1);
}

.screenshot-container img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  max-height: 100%;
  opacity: 0;
  transform: translate(0 , calc(5vh * var(--swipe-dir)));
  transition: transform .1s ease-out;
}

.screenshot-container img.active {
  --swipe-dir: 0;
  opacity: 1;
}

.screenshot-container img.above,
.screenshot-container img.below {
  opacity: 0;
}

.screenshot-container img.above {
  --swipe-dir: -1;
}

.screenshot-container img.below {
  --swipe-dir: 1;
}

p code {
  display: inline-block;
  padding: 0em .5em;
  background: var(--theme-color-2);
  color: var(--theme-color-2-dark);
  border-radius: 0.2em;
}

.tmpl-post img {
  margin: 1em auto;
  box-shadow: 0 .2em .6em rgba(0,0,0,.15),
              0 .5em .9em rgba(0,0,0,0.07);
}

.steezy,
.steezy-pre {
  position: relative;
  width: 100%;
}
.steezy > img {
  max-width: 100%;
  display: block;
}
.steezy::before,
.steezy::after,
.steezy-pre::before,
.steezy-pre::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 20%;
}
.steezy::after,
.steezy-pre::after {
  --float-fac: 5%;
  --init-trans: translate(50%) skew(-10deg);
  z-index: 1;
  bottom: 10%;
  right: 0;
  transform: var(--init-trans);
  background: linear-gradient(to right, var(--theme-color-1), var(--theme-color-2));
  animation: float-around 12s ease-in-out infinite;
}
.steezy-pre::after {
  --float-fac: 4%;
  --init-trans: translate(20%) skew(-10deg);
  z-index: -1;
}
.steezy::before,
.steezy-pre::before {
  --float-fac: 10%;
  --init-trans: translate(-30%) skew(10deg);
  z-index: -1;
  top: 10%;
  left: 0;
  transform: var(--init-trans);
  border-image: linear-gradient(var(--theme-color-1), var(--theme-color-2)) 20;
  border-style: solid;
  animation: float-around 6s .5s ease-in-out infinite;
}
.steezy-pre::before {
  --float-fac: 5%;
  --init-trans: translate(-10%) skew(10deg);
}
@keyframes float-around {
  0%   { transform: var(--init-trans) translate(calc(-1 * var(--float-fac))); }
  50%  { transform: var(--init-trans) translate(calc(1 * var(--float-fac))); }
  100% { transform:  var(--init-trans) translate(calc(-1 * var(--float-fac))); }
}

/* LIBRARY */
.book-grid {
  --gap: 2em;
  margin: 5em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: calc(var(--gap) * 2) var(--gap);
}

.book img {
max-width: 100%;
max-height: 20rem;
margin: auto;
}

footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: 15vh;
  padding: 1vh 1vw;
}


@media (orientation: portrait) {
  header {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
  }
  header .nav {
    justify-content: space-between;
    width: 100%;
  }

  .two-col {
    grid-template-columns: 1fr;
  }


  /* .steezy-img */
  .steezy-img {
    overflow: hidden;
  }
  .steezy-img > img {
    max-width: 90%;
  }
  .steezy-img::before {
    width: 20%;
    z-index: 1;
  }
}

@media(max-width: 500px) {
  .big-statement {
    font-size: 1.2rem;
  }
}