---
layout: layouts/home.njk
---

<p class='big-statement'>
  I make simple <a href='/work'>tools</a> using code.<br>
  I live in New York City and work at <a href='https://www.netamorphosis.com'>netamorphosis</a>.<br>
  I <a href='/writing'>write</a> and <a href='/work/?filter=art'>make art</a> occassionally.
</p>

{% set postslist = collections.posts | head(-4) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
