---
layout: layouts/home.njk
---
<p class='big-statement'>
  I make simple <a href='/work' class='theme-1'>tools</a> using code.<br>
  I live in New York City and work at <a href='https://www.netamorphosis.com' rel='noopener noreferrer' target='_blank' class='theme-2'class='theme-2'>netamorphosis</a>.<br>
  I <a href='/writing' class='theme-1'>write</a> and <a href='/work/?filter=art' class='theme-2'>make art</a> occassionally.
</p>
<div class='two-col'>
  <section class='writing-col'>
    <h2>Latest Writing</h2>
    {% set postslist = collections.posts | head(-4) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
    <a class='arrow-link' href="{{ '/writing/' | url }}">
      See All
      {% include 'arrow.svg' %}
    </a>  </section>
  <section class='work-col'>
    <h2>Latest Work</h2>
    {% set workLength = 4 %}
    {%- for workItem in work | sortWorkByDate -%}
    {%- if workItem.isPublic and workLength > 0 -%}
    <li>
      <a class='work-item' href='{% if workItem.isLocal %}/work{% endif %}{{ workItem.path }}'
      {%- if not workItem.isLocal -%}target='_blank' rel='noopener noreferrer'{%- endif -%}>
      <span class='work-date'>{{ workItem.lastUpdatedMMDD }}</span>
      {{ workItem.name }}</a>
    </li>
    {% set workLength = workLength - 1 %}
    {%- endif -%}
    {%- endfor -%}
    <a class='arrow-link' href="{{ '/work/' | url }}">
      See All
      {% include 'arrow.svg' %}
    </a>
  </section>
</div>


{% include 'bg_wave.njk' %}
