---
layout: layouts/home.njk
permalink: /library/
title: library
eleventyNavigation:
  key: library
  order: 4
---

<p class='big-statement'>
  I like books & data a lot,<br>
  so I've started digitizing my library. All of my books<br>
  are available to borrow, just email me at <a class='theme-1' href='mailto:frank@franknoirot.co'>frank@franknoirot.co</a>
</p>
<div class='book-grid'>
{% for book in collections.books %}
  <div class='book'>
    <img src='{{ book.data.cover }}' alt='{{ book.data.title }} cover'/>
    <h2>{{ book.data.title }}</h2>
    <p class='subtitle'>{{ book.data.subtitle }}</p>
    <p>by {{ book.data.author }}</p>
  </div>
{% endfor %}
</div>