---
layout: layouts/home.njk
permalink: /work/
title: work
eleventyNavigation:
  key: work
  order: 1
---

<h1>My Work</h1>
<ul>
{%- for i, workItem in work | sortWorkByDate -%}
{%- if workItem.isPublic -%}
<li><a href='{% if workItem.isLocal %}/work{% endif %}{{ workItem.path }}'
  {%- if not workItem.isLocal -%}target='_blank' rel='noopener noreferrer'{%- endif -%}
  style='color: {{  workItem.themeColor }}'>{{ workItem.name }}</a></li>
{%- endif -%}
{%- endfor -%}