---
layout: layouts/home.njk
permalink: /work/
eleventyNavigation:
  key: Work
  order: 3
---

<h1>My Work</h1>
<ul>
{%- for i, workItem in work -%}
<li><a href='/work{{ workItem.path }}' style='color: {{  workItem.themeColor }}'>{{ work.seoChecker.name }}</a></li>
{%- endfor -%}