---
layout: layouts/home.njk
permalink: /writing/
title: writing
eleventyNavigation:
  key: writing
  order: 2
---

<h1>Writing</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
