{% for post in postslist | reverse %}
{%- set updatedYear = post.date | getYear -%}
  <li {% if currentYear > updatedYear %}
        style="--year: '{{ currentYear }}';"
        {%- set currentYear = updatedYear -%}
      {% endif %}>
    <div class='writing-item'>
      <time class="writing-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | MMDD }}</time>
      <div>
        <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        <div>
        {% for tag in post.data.tags %}
          {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
          {%- endif -%}
        {% endfor %}
        </div>
      </div>
    </div>
  </li>
{% endfor %}