<style id='theme-data'>
    :root {
        {% for colorName, color in theme %}
        --theme-hue-{{loop.index}}: {{ color.hue }};
        --theme-brightness-{{loop.index}}: {{ color.brightness }};
        --theme-color-{{loop.index}}: hsl(var(--theme-hue-{{loop.index}}), 60%, 85%);
        --theme-color-{{loop.index}}-dark: hsl(var(--theme-hue-{{loop.index}}), 80%, {% adjustBrightness 5, 20, color.brightness %}%);
        {% endfor %}
    }

    @media (prefers-color-scheme: dark) {
        :root {
            {% for colorName, color in theme %}
            --theme-hue-{{loop.index}}: {{ color.hue }};
            --theme-brightness-{{loop.index}}: {{ color.brightness }};
            --theme-color-{{loop.index}}: hsl(var(--theme-hue-{{loop.index}}), 65%, 28%);
            --theme-color-{{loop.index}}-dark: hsl(var(--theme-hue-{{loop.index}}), 80%, {% adjustBrightness 30, 60, color.brightness %}%);
            {% endfor %}
        }
    }

    {% for colorName, color in theme %}
    span.theme-{{loop.index}},
    a.theme-{{loop.index}}:hover,
    a.theme-{{loop.index}}:focus {
        color: hsl(var(--theme-hue-{{loop.index}}), 60%, 65%);
    }

    a.theme-{{loop.index}}:hover path,
    a.theme-{{loop.index}}:focus path  {
        fill: hsl(var(--theme-hue-{{loop.index}}), 60%, 65%);
    }
    {% endfor %}
</style>