@media(max-width: 700px) {
    /* HOME DASHBOARD */
    #nc-root header {
        height: unset;
    }

    #nc-root header > div {
        display: flex;
        flex-direction: column;
        min-width: unset;
    }

    #nc-root header nav ul {
        justify-content: space-between;
        width: 100%;
        min-width: unset;
        padding: 1em .5em;
    }

    #nc-root header nav li > a, #nc-root header nav li > button {
        font-size: .8rem;
        padding: 0;
    }

    #nc-root header > div > div:last-child {
        order: -1;
        margin-left: auto;
    }

    #nc-root > div:last-child {
        min-width: unset;
    }

    #nc-root > div:last-child > div > aside {
        position: relative;
        width: 100%;
    }

    #nc-root > div:last-child main {
        padding: 0;
        margin-block-start: 2em;
    }





    /* EDITOR */
    #nc-root > div:last-child > div {
        padding-block-start: 0;
        display: flex;
        flex-direction: column;
        min-width: unset;
    }

    #nc-root > div:last-child > div > div:first-child {
        display: flex;
        position: relative;
        flex-direction: column;
        height: auto;
        min-width: unset;
        justify-content: flex-start;
        /* align-items: flex-end; */
    }
    
    #nc-root > div:last-child > div > div:first-child > *[role="button"] {
        margin: .5em;
    }
        
    #nc-root > div:last-child > div > div:first-child > div:first-of-type *[role="button"], #nc-root > div:last-child > div > div:first-child > div:first-of-type button {
        margin: .5em;
        font-size: .8rem;
    }
    
    #nc-root > div:last-child > div > div:first-child > div:first-of-type > div {
        width: fit-content;
    }
    
    #nc-root > div:last-child > div > div:first-child > div:first-of-type > div:last-child > div {
        margin: 0;
    }
    
    #nc-root > div:last-child > div > div:first-child > div:first-of-type {
        justify-content: flex-start;
        max-width: 100%;
        align-items: flex-end;
        padding: .5em 0;
    }

    #nc-root > div:last-child > div > div:first-child > div:last-child {
        width: fit-content;
        height: fit-content;
        position: fixed;
        top: 0;
        right: .5em;
    }
    
    #nc-root > div:last-child > div > div:first-child a {
        padding: .5em;
    }
    
    #nc-root > div:last-child > div > div:last-child > div:first-child {
        bottom: 3vh;
        top: unset;
        position: fixed;
        right: 3vh;
    }
}