<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }} | frank noirot</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    {% include 'theme.njk' %}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://franknoirot.co/functions/micropub">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {%- include "header.njk" -%}

    <main{% if templateClasses %} class="{% for cssClass in templateClasses %}{{ cssClass }} {% endfor %}" {% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <p>this site was built using <a href='https://11ty.dev' class='theme-1' target='_blank' rel='noopener'>11ty</a> with <a href='https://github.com/features/actions' class='theme-2' target='_blank' rel='noopener'>Github Actions</a>, and is hosted on <a href='https://netlify.com' class='theme-1' target='_blank'>Netlify</a>.</p>
      <p>all code for the site is freely available on <a href='https://github.com/franknoirot/' class='theme-2' target='_blank' rel='me noopener nofollower'>Github</a>. Please respect licenses on individual projects. </p>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <script>
      window.addEventListener('load', () => {
        const searchParams = new URLSearchParams(window.location.search)
        if (!searchParams || searchParams === null) return
        const hasFontParam = searchParams.has('font')
        if (!hasFontParam || hasFontParam === null) return

        const fontVal = searchParams.get('font')
        const fontLink = document.createElement('link')
        fontLink.href = `https://fonts.googleapis.com/css?family=${ fontVal }&display=swap`
        fontLink.rel = "stylesheet"

        document.body.appendChild(fontLink)
        document.body.style.setProperty('--font-family', fontVal.replace('+', ' '))
      })
    </script>
  </body>
</html>
