html, body {
	position: relative;
	width: 100%;
	height: 100%;

}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.dial-wrap {
	position: relative;
	--dial-width: 2.5em;
	--dial-height: 2.5em;
	width: var(--dial-width);
	height: var(--dial-height);
}

.dial-container {
	margin: 1vw;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: .75em 0 0;
	width: max-content;
	box-shadow: 0.1em 0.1em 0.4em #0C152236, -0.1em -0.2em 0.5em #9797972f; 
	--card-br: .5em;
	border-radius: var(--card-br);
}

.dial-container .output {
	text-align: center;
	font-size: min(max(2.5vw, 1.5rem), 4rem);
	font-weight: 400;
	margin: auto;
	width: fit-content;
}

input.dial {
	transform-origin: 50%;
	position: absolute;
	width: 200%;
	left: 50%;
	top: 0;
	transform: translateX(-50%) translateY(calc(-50% + 1rem)) rotate(-90deg);
	opacity: 0;
}

.dial-bg {
	--primary: #f5f5f5;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: radial-gradient(circle at center, white 52%, hsl(190deg, 10%, 73%));
	border-radius: 50%;
	margin: 0rem;
	box-shadow: 0.1em 0.1em 0.4em #0C152236, -0.1em -0.2em 0.5em #9797972f;
}

/* .dial-bg::before {
	content: "";
	position: absolute;
	box-sizing: border-box;
	width: calc(var(--dial-width)*0.75);
	height: calc(var(--dial-height)*0.75);
	top: calc(var(--dial-width)*0.25/2);
	left: calc(var(--dial-height)*0.25/2);
	border-radius: 50%;
	background: #f9f9f9;
	border: solid
} */

.dial-line {
    position: absolute;
    width: calc(var(--dial-width)*.7);
    left: 50%;
    height: calc(var(--dial-height)*0.16);
    top: 50%;
    background: var(--theme);
    --init-trans: translate(-50%, -50%);
    border-radius: var(--dial-height);
}

.dial-row {
	display: flex;
	align-items: center;
	font-size: .8rem;
	font-size: min(max(.75rem, 1.5vw), 1.25rem);
}

.dial-max-wrap, .dial-min-wrap {
    display: flex;
	flex-direction: column;
	margin: 0 .5vw;
	text-transform: uppercase;
}

.dial-max-wrap {
	text-align: left;
	margin-inline-start: 1em;
}

.dial-min-wrap { 
	justify-content: flex-end;
	text-align: right;
	margin-inline-end: 1em;
}

.dial-max-wrap label, .dial-min-wrap label {
	margin-top: .25em;
}

.dial-min, .dial-max {
	padding: 0 1ch;
	height: 2em;
	width: 8ch;
	text-align: center;
	position: relative;
	border: none;
	margin-bottom: 0;
}

.dial-max-wrap label, .dial-max {
	margin-right: auto;
	margin-left: 0;
	padding-left: 0;
}

.dial-min-wrap label, .dial-min {
	margin-left: auto;
	margin-right: 0;
	padding-right: 0;
}

.dial-max-inner, .dial-min-inner {
	position: relative;
}

.dial-min-inner .line, .dial-max-inner .line {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	left: 0;
	top: 100%;
	background: black;
	transform-origin: center left;
	transition: all .12s ease-in-out;
}

.dial-min-inner .line {
	left: unset;
	right: 0;
	transform-origin: center right;
}

.dial-min:focus, .dial-max:focus {
	outline: none;
}

.dial-min:focus ~ .line, .dial-max:focus ~ .line {
	width: 100%;
}

.midi-card-bottom {
	--set-bg: #C5E7AA;
	--set-text: #1E4B1D;
	--active-bg: #F9D67B;
	--active-text: #4B3E1D;
	--hover-bg: #5C6989;
	--hover-text: white;
	
	--bottom-bg: white;
	--bottom-text: black;
	margin-top: 1.5em;
	width: 100%;
	position: relative;
}

.dial-midi {
	border: none;
	padding: .3em;
	margin: .5em 0;
	border-radius: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bottom-bg);
	transition: all .12s ease-in-out;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -75%);
	z-index: 2;
}


.dial-midi + p {
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	padding: .9em .5em .5em;
	margin: 0;
	opacity: 0;
	border-radius: 0 0 var(--card-br) var(--card-br);
	transition: all .12s ease-in-out;
	background: var(--bottom-bg);
	color: var(--bottom-text);
}


.dial-midi:hover + p, .dial-midi:focus + p,
.dial-midi.set + p, .dial-midi.active + p {
	opacity: 1;
}


.dial-midi:hover, .dial-midi:focus,
.dial-midi:hover + p, .dial-midi:focus + p {
	--bottom-bg: var(--hover-bg);
	--bottom-text: var(--hover-text);
}

.dial-midi.active,
.dial-midi.active + p {
	--bottom-bg: var(--active-bg);
	--bottom-text: var(--active-text);
}

.dial-midi.set,
.dial-midi.set + p {
	--bottom-bg: var(--set-bg);
	--bottom-text: var(--set-text);
}

/* .dial-midi::before {
	content: var(--midi);
	position: absolute;
	padding: 0 .5em;
	height: 2em;
	display: flex;
	align-items: center;
	font-size: .75rem;
	font-weight: bold;
	right: 100%;
	top: 50%;
	background: var(--set-color);
	border-radius: .2em 0 0 .2em;
	--trans-x: 2.2em;
	transform: translate(var(--trans-x), -50%);
	opacity: 0;
	transition: all .12s ease-in-out;
}

.dial-midi.set::before {
	opacity: 1;
	--trans-x: 0;
}

.dial-midi:hover::after, .dial-midi:focus::after {
	opacity: 1;
	--trans-y: 0;
} */

.dial-midi svg {
	width: 1.4em;
}

.dial-midi #midi-icon {
	fill: var(--bottom-text);
	transition: all .12 ease-in-out;
}